/* 
 * Main CSS File
 */

 
 
/* Common */
 
#wrapper {
 padding-left: 270px;
}

#sidebar-wrapper {
  z-index: 100;
  margin-left: -270px;
  left: 270px;
  width: 270px;
  padding: 10px;
  padding-left: 5px;
  background: #428bca;
  position: fixed;
  height: 100%;
  overflow-y: auto;  
}
 
 #menu-toggle {
  display: none;
}

.page-content {
 background-color: #fff;
 background-color: rgba(255,255,255,0.8);
}

.inset {
  padding: 20px;
}


/* Desktop / touch+no-css3dtransforms */

.no-touch #wrapper, .no-csstransforms3d #wrapper {
  transition: all 0.4s ease 0s;
}

.no-touch #sidebar-wrapper, .no-csstransforms3d #sidebar-wrapper {
  transition: all 0.4s ease 0s;
}

.no-touch #page-content-wrapper, .no-csstransforms3d #page-content-wrapper {
  width: 100%;
}

@media (max-width:767px) {

.no-touch #wrapper, .no-csstransforms3d #wrapper {
  padding-left: 0;
}

.no-touch #sidebar-wrapper, .no-csstransforms3d #sidebar-wrapper {
  left: 0;
}

.no-touch #wrapper.active, .no-csstransforms3d #wrapper.active {
  position: relative;
  left: 270px;
}

.no-touch #wrapper.active #sidebar-wrapper, .no-csstransforms3d #wrapper.active #sidebar-wrapper {
  left: 270px;
  width: 270px;
  transition: all 0.4s ease 0s;
}

.no-touch #menu-toggle, .no-csstransforms3d #menu-toggle {
  display: inline-block;
}

.no-touch .inset, .no-csstransforms3d .inset {
  padding: 15px;
}

}

 
 /* Touch+css3d+small screen */
 
 @media (max-width:767px) {
 
html.touch.csstransforms3d, .touch.csstransforms3d body, #wrapper {
  height: 100%;
 }
 
.touch.csstransforms3d body {
 background-color: #444 !important;
 overflow: hidden;
}

.touch.csstransforms3d #wrapper {
  height: 100%;
}


.touch.csstransforms3d #page-content-wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-y: scroll;
}


.touch.csstransforms3d #page-content-wrapper {
	z-index: 99;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.touch.csstransforms3d #page-content-wrapper::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.touch.csstransforms3d .active #page-content-wrapper::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.touch.csstransforms3d .active #sidebar-wrapper {
-webkit-box-shadow: 0px 0px 13px -2px rgba(153,153,153,0.7);
-moz-box-shadow: 0px 0px 13px -2px rgba(153,153,153,0.7);
box-shadow: 0px 0px 13px -2px rgba(153,153,153,0.7);
}

.touch.csstransforms3d #sidebar-wrapper {
	z-index: 100;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.touch.csstransforms3d #sidebar-wrapper::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.touch.csstransforms3d .active #sidebar-wrapper::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}


/* Effect */
.touch.csstransforms3d #menu-toggle {
  display: inline-block;
}

.touch.csstransforms3d #wrapper {
	padding-left: 0px;
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.touch.csstransforms3d #page-content-wrapper {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.touch.csstransforms3d #wrapper.active #page-content-wrapper {
	-webkit-transform: translate3d(100px, 0, -600px) rotateY(-20deg);
	transform: translate3d(100px, 0, -600px) rotateY(-20deg);
	overflow: hidden;
}

.touch.csstransforms3d #sidebar-wrapper {
	opacity: 1;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.touch.csstransforms3d #wrapper.active #sidebar-wrapper {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.touch.csstransforms3d #sidebar-wrapper::after {
	display: none;
}

} /* End breakpoint for mobile menu */

.easter-egg {
	position: fixed;
	right: 15px;
	bottom: 0px;
	width: 275px;
	padding: 5px;
	z-index: 999;
}

.sidebar-nav {
  list-style-type: none;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  margin-top: 20px;
}

.sidebar-nav ul {
 padding-left: 16px;
}

.sidebar-nav li {
  line-height: 23px;
  text-indent: 2px;
}

.add-item {
 text-indent: 2px;
 font-size: 10pt;
}

#sidebar-wrapper a {
  color: #fff;
  display: inline-block;
  padding-right: 5px;
  text-decoration: none;
  -moz-transition: background-color .2s ease-in-out;
  -webkit-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  -ms-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

#sidebar-wrapper a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

a.add-item {
	font-style: italic;
	color: #B9D4EB;
}

a.manage-sitemap {
 color: #B9D4EB;
 font-size: 10pt;
}

.sidebar-nav a.add-item:hover{
	font-style: italic;
	text-decoration: none;
	color: #fff;
}

.sidebar-nav a.add-item .glyphicon {
	font-size: 12px;
	padding-bottom: 2px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #ddd;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #ddd;
  background: none;
}

.sidebar-nav  li.nav-selected  a {
	color: #c3e1ff !important;
	font-style: italic;
}

.sign-icon {
	font-size: 10px;
	top: 0px;
	cursor: pointer;
	color: #fff;
}
.sign-icon:hover {
 color: #B9D4EB;
}

 .actions-icon {
	display: none;
	 text-indent: 5px;
 }


.no-touch .sidebar-item:hover > .actions-icon {
 display: inline-block;
} 


/* "backup" toolbar for touch devices */
#touch-tools {
 display: none;
 float: right;
}

.touch #touch-tools {
 display: block;
}


ul.nav-dropdown {
	display: none;
	list-style-type: none;
}

ul.nav-path-selected {
	display: block;
}

.content-header {
 border-bottom: 1px solid #eee;
 margin-bottom: 15px;
}

.expandall, .contractall {
 font-size: 12px;
 padding-right: 10px;
}

/* Styles for password blocks */

.encrypted-block-contain  {
 padding-left: 15px;
 padding-right: 15px;
 border: 1px solid #ccc;
 position: relative;
 margin-top: 15px;
}
.editmode.encrypted-block-contain {
 border: none;
}
.block-icon {
 position: absolute;
 top: -5px;
 left: -5px;
}
.editmode .block-icon {
 display: none;
}

/* Callouts as seen in the BS docs */

.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}
.bs-callout p {
  margin-left: 10px;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

.touch .clear_view {
 display: none;
}

/* Variations */
.bs-callout-success {
  background-color: #dff0d8;
  border-color: #b8d0a3;
}
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.bs-callout-success h4 {
color: #3c763d;
}

.bs-callout-danger h4 {
color: #B94A48;
}

.bs-callout-warning h4 {
color: #C09853;
}

.bs-callout-info h4 {
color: #3A87AD;
}

.blockpanel .panel-body {
 padding-left: 15px;
 padding-right: 15px;
 padding-top: 0px;
 padding-bottom: 0px;
}
.panel-body.padding {
 padding-top: 15px;
 padding-bottom: 15px; 
}


.credentials-fields {
 margin-bottom: 5px;
}

.credentials-fields label {
 min-width: 80px;
}

.password-label,
.username-label {
	font-weight: bold;
	color: #444;
}

.password_super_block {
 display: inline-block;
 height: 25px;
}

.touch .password_super_block {
 display: none;
}

.password_block_hash {
	display: inline-block;
	width: 150px;
	height: 25px;
	padding-top: 2px;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAaklEQVQYV2NkYGAwBuKzQAwC9UA8C4ifQ/n/GaEMkCIfIG6E8iWB9DMgZoQpAOncgmTSfyBbCmQSSAFIEqYTZNIZkE6YSSAGyDi4nUC2CbKb4CphdqK7CaYAbieSb8BuAikASSKblIbsJgCKXBfTNjWx1AAAAABJRU5ErkJggg==) repeat;
	cursor: pointer;
}

.password_block {
	display: none;
}

.password_textbox, .pass-block-username {
	width: 150px;
	cursor: pointer!important;
	height: 26px;
}

.touch .pass-block-username {
 display: none;
}

.userdata_touch_fallback {
 display: none;
}

.touch .userdata_touch_fallback {
 display: inline-block;
}

.touch-tip, .no-touch-tip {
 display: none;
}

.no-touch  .no-touch-tip {
 display: block;
}
.touch  .touch-tip {
 display: block;
}

.modal-input {
	width: 300px;
	display:inline-block;
	margin-left: 10px;
}

.label-primary {
	margin-right: 5px;
}

.spacer {
	min-height: 30px;
}

.small-spacer {
	min-height: 5px;
}

#cName, #cDatePublic_dt, #ccmBlockTypeSearch {
	height: 25px;
}

.search-input {
	width: 65%;
	display: inline;
}

.ccm-search-block-form {
	margin-top: 5px;
}

.site-name {
	color: #ddd;
	font-size: 18px;
	text-indent: 12px;
	line-height: 45px;
	margin-bottom: 0px;
	
}


.selectedSearch {
	font-style: italic;
	text-decoration: underline!important;
	color: #ccc!important;
}

/**
* Default welcome content, just images for now
*/

#def_content_add_page {
 background-image: url(img/def_content_add_page.png);
 width: 248px;
 height: 104px;
}
#def_content_add_ppage {
 background-image: url(img/def_content_add_ppage.png);
 width: 248px;
 height: 178px;
}
#def_content_add_passwords {
 background-image: url(img/def_content_add_passwords.jpg);
 width: 248px;
 height: 174px;
}


/**
* Dashboard overrides for frontend only
*/

div#ccm-edit-overlay {
 max-width: 580px !important;
 width: 90%;
  border-top: 1px solid #888;
 top: 49px;
}

div.ccm-block-arrange, div.ccm-block {
 border: 2px dotted #009900;
}

#ccm-check-in-comments {
 width: 100% !important; 
}

@media (max-width: 465px) {

#ccm-check-in-publish {
 float: none !important;
 display: block;
 margin-top: 10px;
}
#ccm-check-in-preview {
 float: none !important;
 display: block;
 margin-top: 10px;
}
#ccm-check-in-discard {
 float: none !important;
 display: block;
 margin-top: 10px;
}
div.ccm-edit-overlay-actions {
 margin: 0 0 0 0 !important;
 padding-bottom: 10px !important;
}

}

/* Add/edit dialog stuff */
.ui-dialog {
 max-width: 800px !important;
}

/* Hiding items that dont work well on touch */
.touch .ccm-icon-move-menu {
 display: none !important;
}

/* Float messages appended in header JS right so we're sure they're visible on-screen */
div#ccm-page-status-bar div.alert{
 float: right !important;
}


/**
* Dashboard overrides which are the same for front and backend - duplicated for backend dashboard in /css/passwordx.css
*/

#ccm-logo {
	height: 40px;
	width: 40px;
	margin-top: 4px;
}

#ccm-nav-report { 
	background-position: -19px -2144px!important;
}

li.ccm-system-nav-selected, ul#ccm-main-nav li:hover, ul#ccm-system-nav li:hover {
background: #c7e8fd !important;
}

div#ccm-toolbar {
 border-bottom: none;
 background: #fff;
}


