/* 
 * Main CSS File
 */

 #wrapper {
  padding-left: 270px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -270px;
  left: 270px;
  width: 270px;
  padding: 10px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 270px;
}

#wrapper.active #sidebar-wrapper {
  left: 270px;
  width: 270px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

}
 

.easter-egg {
	position: fixed;
	right: 0px;
	bottom: 0px;
	width: 275px;
	padding: 5px;
}

.sidebar-nav {
  position: absolute;
  list-style-type: none;
  /*top: 0;*/
  top: 1;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  margin-top: 20px;
}

.sidebar-nav-edit-mode {
	top: 100px;
}

.sidebar-nav li {
  line-height: 25px;
  text-indent: 5px;
}

.sidebar-nav a {
  color: #ccc;
  display: inline-block;
  padding-right: 10px;
  text-decoration: none;
  -moz-transition: background-color .2s ease-in-out;
  -webkit-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  -ms-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.sidebar-nav a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav a.add-item {
	font-style: italic;
	color: #999;
}

.sidebar-nav a.add-item:hover{
	font-style: italic;
	text-decoration: none;
	color: #fff;
}

.sidebar-nav a.add-item .glyphicon {
	font-size: 12px;
	padding-bottom: 2px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #ddd;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #ddd;
  background: none;
}

.sidebar-nav  .nav-selected  {
	color: #fff!important;
}

.sign-icon {
	font-size: 10px;
	top: 0px;
	cursor: pointer;
	color: #ccc;
}
.sign-icon:hover {
 color: #428bca;
}

 .actions-icon {
	display: none;
 }


.no-touch .sidebar-item:hover > .actions-icon {
 display: inline-block;
} 


/* "backup" toolbar for touch devices */
#touch-tools {
 display: none;
 float: right;
}

.touch #touch-tools {
 display: block;
}


ul.nav-dropdown {
	display: none;
	list-style-type: none;
}

ul.nav-path-selected {
	display: block;
}

.content-header {
 border-bottom: 1px solid #eee;
 margin-bottom: 15px;
}

.expandall, .contractall {
 font-size: 12px;
}

/* Styles for password blocks */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}
.bs-callout p {
  margin-left: 10px;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

.touch .clear_view {
 display: none;
}

/* Variations */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.credentials-fields {
 margin-bottom: 5px;
}

.credentials-fields label {
 min-width: 75px;
}

.password-label,
.username-label {
	font-weight: bold;
	font-size: 14px;
	color: #444;
}

.password_super_block {
 display: inline-block;
 height: 25px;
}

.touch .password_super_block {
 display: none;
}

.password_block_hash {
	display: inline-block;
	width: 150px;
	height: 25px;
	padding-top: 2px;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAaklEQVQYV2NkYGAwBuKzQAwC9UA8C4ifQ/n/GaEMkCIfIG6E8iWB9DMgZoQpAOncgmTSfyBbCmQSSAFIEqYTZNIZkE6YSSAGyDi4nUC2CbKb4CphdqK7CaYAbieSb8BuAikASSKblIbsJgCKXBfTNjWx1AAAAABJRU5ErkJggg==) repeat;
	cursor: pointer;
}

.password_block {
	display: none;
}

.password_textbox, .pass-block-username {
	width: 150px;
	cursor: pointer!important;
	height: 25px;
}

.touch .pass-block-username {
 display: none;
}

.userdata_touch_fallback {
 display: inline-block;
}

.no-touch .userdata_touch_fallback {
 display: none;
}

.touch-tip, .no-touch-tip {
 display: none;
}

.no-touch  .no-touch-tip {
 display: block;
}
.touch  .touch-tip {
 display: block;
}

.modal-input {
	width: 300px;
	display:inline-block;
	margin-left: 10px;
}

.label-primary {
	margin-right: 5px;
}

.spacer {
	min-height: 30px;
}

.small-spacer {
	min-height: 5px;
}

#cName, #cDatePublic_dt, #ccmBlockTypeSearch {
	height: 25px;
}

.search-input {
	width: 65%;
	display: inline;
}

.ccm-search-block-form {
	margin-top: 5px;
}

.site-name {
	color: #ddd;
	font-size: 18px;
	text-indent: 12px;
	line-height: 45px;
	margin-bottom: 0px;
	
}

/*
* UPDATE 2 > ?
*/
.selectedSearch {
	font-style: italic;
	text-decoration: underline!important;
	color: #ccc!important;
}

/**
* Default welcome content, just images for now
*/

#def_content_add_page {
 background-image: url(img/def_content_add_page.jpg);
 width: 248px;
 height: 108px;
}
#def_content_add_ppage {
 background-image: url(img/def_content_add_ppage.jpg);
 width: 248px;
 height: 174px;
}
#def_content_add_passwords {
 background-image: url(img/def_content_add_passwords.jpg);
 width: 248px;
 height: 174px;
}


/**
* Dashboard overrides for frontend only
*/

div#ccm-edit-overlay {
 max-width: 580px !important;
 width: 90%;
  border-top: 1px solid #888;
 top: 49px;
}

div.ccm-block-arrange, div.ccm-block {
 border: 2px dotted #009900;
}

#ccm-check-in-comments {
 width: 100% !important; 
}

@media (max-width: 465px) {

#ccm-check-in-publish {
 float: none !important;
 display: block;
 margin-top: 10px;
}
#ccm-check-in-preview {
 float: none !important;
 display: block;
 margin-top: 10px;
}
#ccm-check-in-discard {
 float: none !important;
 display: block;
 margin-top: 10px;
}
div.ccm-edit-overlay-actions {
 margin: 0 0 0 0 !important;
 padding-bottom: 10px !important;
}

}

/* Add/edit dialog stuff */
.ui-dialog {
 max-width: 800px !important;
}

/* Hiding items that dont work well on touch */
.touch .ccm-icon-move-menu {
 display: none !important;
}


/**
* Dashboard overrides which are the same for front and backend - duplicated for backend dashboard in /css/passwordx.css
*/

#ccm-logo {
	height: 40px;
	width: 40px;
	margin-top: 4px;
}

#ccm-nav-report { 
	background-position: -19px -2144px!important;
}

li.ccm-system-nav-selected, ul#ccm-main-nav li:hover, ul#ccm-system-nav li:hover {
background: #c7e8fd !important;
}

div#ccm-toolbar {
 border-bottom: none;
 background: #fff;
}


